<div class="row">
  <div class="container">
  <div class="col-md-12">
<div class="article">
  <h1><%= t('tabs.articles.archive') %> <i class="fa fa-archive"></i></h1>

  <% @articles.each do |article| %>
<hr>
      <a href="<%=article_path(article, :tab=>params[:tab])%>" style="margin: 0; padding: 0;">
        <h3></i> <%= article.title%></h3>
        <p style="color:#000000"><%=article.ingress%></p>

      </a>
  <%end%>
</div>
  <div style="margin-top: 2em;">
    <div class="pagination pagination-centered">
      <ul>
        <%= will_paginate @articles, renderer:  BootstrapPagination::Rails  %>
      </ul>
    </div>
  </div>
  </div>

  </div>
</div>