<div class="row">
  <div class="container">
  <div class="col-md-12">
<div class="article">
  <h1>
  <% if @blog %>
        <%= t('articles.blog_archive')%>
  <% else %>
        <%= t('articles.archive')%>
  <% end %>

  </h1>
  <div class="row">
  <% @articles.each_with_index do |article, i| %>
    <% if i % 2 == 0 && i != 0 %>
      </div>
      <hr>
      <div class="row">
    <% end %>
      <div class="col-md-6 no_padding">
        <div class="col-md-12">
          <% if article.frontend_article_image %>
            <%= image_tag article.frontend_article_image.url(:frontpage_large), :style=> "max-height: 300px"%>
          <% else %>
            <%=image_tag "article_images/"+article.id.to_s + "_3.jpg"%><br>
          <% end %>
        </div>
        <div class="col-md-12">
          <a href="<%= (@blog ? blog_path(article, :tab=>params[:tab]) : article_path(article, :tab=>params[:tab])) %>" style="margin: 0; padding: 0;">
            <h3></i> <%= article.title%></h3>
            <p style="color:#000000"><%=article.ingress%></p>

          </a>
        </div>
      </div>
  <%end%>
  </div>
</div>
  <div style="margin-top: 2em;">
    <div class="pagination pagination-centered">
      <ul>
        <%= will_paginate @articles, renderer:  BootstrapPagination::Rails  %>
      </ul>
    </div>
  </div>
  </div>

  </div>
</div>