<div class="col-md-3">
	<div class="sidebar">
		<nav class="navbar navbar-default navbar-left" role="navigation">
			<div class="div-sidebar collapse navbar-collapse" id="collapsemenu">
				<ul class="nav nav-left">
					<% @pages.each_with_index do |page, i| %>
					<%if i.eql?(0) %>
					<li class="sidebar-link"><a href="#<%= i %>"></i><%= page.title %></a></li>
					<% else %>
					<li class="sidebar-link"><a href="#<%= i %>"></i><%= page.title %></a></li>
					<% end %>
					<% end %>
					<%if @tab.name_en.eql?("ISFiT 2015") %>
						<li class="sidebar-link"><a href="#<%= @global_index + 1 %>"></i>ISFiT Workshops 2015</a></li>
					<%elsif @tab.name_en.eql?('Be a part of ISFiT') %>
						<li class="sidebar-link"><a href="#<%= @global_index + 1 %>"></i>ISFiT Online</a></li>
					<% end %>
				</ul>
			</div>
		</nav>
	</div>
</div>
