<div class="container top-margin">
  <section id="intro">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <%= link_to t("volunteers.apply"), '#', class:"orange-well col-md-12"%>
        </div>
        <div class="row">
            <%= link_to t("ambassadors.apply"), '#', class:"blue-well col-md-12"%>
        </div>
        <div class="row">
            <%= link_to t("participant.apply"), '#', class:"orange-well col-md-12"%>
        </div>
      <div class="blank-well row">
        <h3 class="col-md-12"><i class="fa fa-instagram fa-2x orange-text"></i> #tradeyourideas</h3>
        <div id="instagram-div">

        </div>
      </div>
      </div>
      <div class="col-md-8">

        <div class="cn_wrapper">
          <div class="col-md-6 no_padding">
            <div id="cn_preview" class="cn_preview">
              <% @articles.each_with_index do |article, i| %>
                  <% if i == 0%>
                      <div class="cn_content">
                  <% else %>
                      <div class="cn_content cn_content_invisible">
                  <% end %>
                  <%= image_tag ('placeholder' + i.to_s + '.jpg') %>
                  <h1><%=article.title%></h1>
                  <span class="cn_date"><%=article.created_at%></span>
                  <span class="cn_category"><%= article.byline.html_safe%></span>
                  <p><%=article.ingress%></p>
                  <%= link_to "Read more", article_path(article), class: 'blue-well' %>
                  </div>

              <% end %>
              </div>
            </div>

            <div class="col-md-6">
              <div id="cn_list" class="cn_list">
                <div class="cn_page" style="display:block;">
                  <% @articles.each_with_index do |article, i| %>
                  <% if i == 0%>
                  <div class="cn_item selected">
                    <% else %>
                      <div class="cn_item">
                        <% end %>
                    <h2><%=article.title%></h2>
                    <p><%=truncate(article.ingress, length: 50)%></p>
                  </div>
                  <% end %>
                  </div>

                </div>
                <a href="#" class="orange-well">
                  Archive
                </a>
              </div>

              </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <section id="articles">
  </section>
</div>