<div class="container top-margin no_padding">
  <div class="col-md-12 no_padding">
    <div class="col-md-8">
      <% @articles.each_with_index do |article, i| %>
        <% if i == 0 %>

          <div class="row">
            <div class="col-md-12 wrapz">
              <%= link_to article_path(article),  :style=> "width: 100%;" do %>
                <% if article.frontend_article_image %>
                  <%= image_tag article.frontend_article_image.url(:frontpage_large), class: 'article-frontpage-image'%>
                <% else %>
                  <%=image_tag "article_images/"+article.id.to_s + "_3.jpg"%><br>
                <% end %>
                <h1 class="frontend-article-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"><%=article.title%></h1>
              <% end %>
            </div>
          </div>

        <% else %>

          <% if i == 1 %> 
            <div class="row">
          <% end %>
            <div class="col-md-6">
              <%= link_to (article_path(article)) do%>
                <% if article.frontend_article_image %>
                  <%= image_tag article.frontend_article_image.url(:frontpage_large), class: 'article-frontpage-image'%>
                <% else %>
                  <%=image_tag "article_images/"+article.id.to_s + "_3.jpg"%><br>
                <% end %>
                <h1 class="frontend-article-title"><%= article.title %></h1>
              <% end %>
            </div>
            <% if i==2 %>
            </div>
            <% end %>
        <% end %>
      <% end %>
    </div>


    <div class="col-md-4">

      <% if I18n.locale.to_s == 'no' %>
        <div class="col-md-12 twitter-container no_padding" style="margin-top: 20px;">
          <div class="col-md-12 no_padding">
            <div class="twitter-timeline-container"
            data-widget-id="503989856049983488"
            data-widget-options="<%= { height: '350px', width: '100%' }.to_json %>">
            </div>
          </div>
        </div>
        <div class="col-md-12"  style="border:1px solid #aaa; margin-top: 40px;">
          <div class="col-md-12 instagram-container" id="instagram-id">
            <h4 style="margin-left:20px;"><i class="fa fa-instagram fa-2x orange-text"></i> #tradeyourideas &nbsp;&nbsp;&nbsp; #isfit2015</h4>
            <div id="instagram-div-1">
              <ul class="instagram-slider">
              </ul>
            </div>
          </div>
        </div>      
      <% else %>
        <div class="col-md-12 spp-nom-button no_padding">
          <a href="https://studentpeaceprize.wordpress.com/2015/07/26/the-student-peace-prize-2017-nominations-are-open/">
            Call for nominations<br>
            <small>The Student Peace Prize 2017</small>
          </a>
        </div>

        <div class="col-md-12 twitter-container no_padding" style="margin-top:20px;">
          <div class="col-md-12 no_padding">
            <div class="twitter-timeline-container"
            data-widget-id="503989856049983488"
            data-widget-options="<%= { height: '351px', width: '100%' }.to_json %>">
            </div>
          </div>
        </div>

        <div class="col-md-12"  style="border:1px solid #aaa; margin-top: 40px;">
          <div class="col-md-12 instagram-container" id="instagram-id">
            <h4 style="margin-left:20px;"><i class="fa fa-instagram fa-2x orange-text"></i> #tradeyourideas &nbsp;&nbsp;&nbsp; #isfit2015</h4>
            <div id="instagram-div-1">
              <ul class="instagram-slider">
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="col-md-12" style="margin-top:20px;">
    <div class="col-md-12 no_padding">
      <ul class="bxslider">
        <li>
          <iframe src="//www.youtube.com/embed/KhsULsXUvN4" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </li>
      </ul>
    </div>
  </div>

</div>







