<!DOCTYPE html>
<html>
<head>
	<title>NewIsfitOrg</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="header">
		<%= link_to image_tag("headerlogo.png", class: "brand"), root_path %>
	</div>

	<nav class="navbar navbar-default navbar-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to image_tag("LOGOhvit24px.png", class: "navbar-brand"), root_path %>

			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="collapsemenu">
				<ul class="nav navbar-nav">
					<% tabs.each do |p| %>
						<%= nav_link p.name, p.path, p.id, p %>
					<% end %>
				</ul>
				<ul class="nav navbar-nav ul-navbar-logo">

					<li class="navbar-logos">			
						<%= link_to root_path do %>
							<i class="fa fa-info-circle fa-custom-size"></i>						
						<% end %>
					</li>
					<li class="navbar-logos">			
						<%= link_to contact_path do %>
							<i class="fa fa-phone-square fa-custom-size"></i>
						<% end %>
					</li>
										<li class="navbar-logos">			
						<%= link_to language_link do %>
						<span class="<%= language_logo %> fa-custom-siz"</span>
						<% end %>
					</li>
				</ul>

			</div><!-- /.navbar-collapse -->


		</div><!-- /.container-fluid -->
	</nav>
	<div class="content">
		<%= yield %>
	</div>
	<div class="footer">
		<%= link_to "https://www.facebook.com/ISFiTNorway" do %>
		<i class="fa fa-facebook-square fa-custom-size"></i>
		<% end %>
		<%= link_to "https://twitter.com/ISFiT" do %>
		<i class="fa fa-twitter-square fa-custom-size"></i>
		<% end %>
		<%= link_to "http://vimeo.com/user12652193" do %>
		<i class="fa fa-vimeo-square fa-custom-size"></i>
		<% end %>
		<p>
			Redaktør: Simen Sundsbø, headofeditorial[at]isfit.no. <br />
			&copy ISFiT 2015.
		</p>
	</div>

</body>
</html>
